<div class="thankuDiv">
    <div class="inicioDivTa inicioDivT2">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a href="/inicio">
                        <img src="/assets/images/myaLogoInic.jpg" alt="logoInicio" class="logoInic"></a>
                </div>
                <div class="col-md-4"></div>
            </div> <br>
            <div class="row">
                <h2 class="fw-bold mb-5 text-center text-white">¡Gracias por tu reserva!
                    <hr>Te estaremos contactando en breve para terminar los detalles de tu estancia con nosotros.
                </h2>
                <h5 class="text-center" style="color: rgb(247, 222, 158)">
                    Haz click en el botón de WhatsApp para asistencia inmediata.</h5>

            </div>

        </div>

    </div>
    <div class="paymentDiv">
        <div class="container" style="width: 45%;">
            <h4 class=" text-center" style="color: rgba(255, 255, 255, 0.737);">
                Métodos de pago: <br> <br>
                <i class="fa-solid fa-credit-card"></i> Debito / crédito & transferencia . <br> <br>

                <i class="fa-solid fa-person-chalkboard"></i> Usualmente pedimos un porcentaje de la reserva antes de tu
                llegada y puedes pagar el resto de tu estancia cuando llegues. <br>
                <i class="fa-solid fa-money-bill-wave"></i>Aceptamos efectivo en el mostrador o puedes pagar en los
                métodos de pago mencionados antes<br> <br>
            </h4>
        </div>
    </div>

    <div class="container">
        <div class="fixed-action-btn" id="fixed1">
            <a class="btn btn-floating btn-primary btn-lg text-white" style="background-color: #25D366;"
                href="https://api.whatsapp.com/send?phone=525581809928&text=Hola, Me gustaría recibir información sobre Mya 307"
                target="_blank">
                <i class="fab fa-whatsapp fa-2xl"></i>
            </a>

            <ul class="list-unstyled">
                {{!-- <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #f44336;">
                        <i class="fas fa-star"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #fdd835;">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #4caf50;">
                        <i class="fas fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #2196f3;">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li> --}}
            </ul>
        </div>
    </div>
    {{!-- FOOTER STARTS --}}
    <div class="footer bg-light">
        <div class="container textr-center">
            <div class="row">

                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <p><b>Mya 307</b> Todos los derechos reservados. Tu información está protegida por la ley de
                        privacidad. <span><a href="/privacidad" style="color: gray;">Para más información visita nuestra
                                política de privacidad</a></span></p>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>