<div class="longStaysDiv">
    <div class="fixed-action-btn" id="fixed1">
        <a class="btn btn-floating btn-primary btn-lg text-white" style="background-color: #25D366;"
            href="https://api.whatsapp.com/send?phone=525581809928&text=Hola, Me gustaría recibir información sobre Mya 307"
            target="_blank">
            <i class="fab fa-whatsapp fa-2xl"></i>
        </a>

        <ul class="list-unstyled">
            {{!-- <li>
                <a class="btn btn-primary btn-floating btn-lg" style="background-color: #f44336;">
                    <i class="fas fa-star"></i>
                </a>
            </li>
            <li>
                <a class="btn btn-primary btn-floating btn-lg" style="background-color: #fdd835;">
                    <i class="fas fa-user"></i>
                </a>
            </li>
            <li>
                <a class="btn btn-primary btn-floating btn-lg" style="background-color: #4caf50;">
                    <i class="fas fa-envelope"></i>
                </a>
            </li>
            <li>
                <a class="btn btn-primary btn-floating btn-lg" style="background-color: #2196f3;">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </li> --}}
        </ul>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#nosotros">Mya 307</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contactoLongStays">Bookings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/privacidad">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/longstays" style="color:  #2cacbc;">Long Stays </a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <a class="text-reset me-3" href="/longstays">
                    EN |
                </a>
                <a class="text-reset me-3" href="/estancias">
                    ES &nbsp; &nbsp;
                </a>
                <!-- Icon -->
                <a class="text-reset me-3" href="https://www.facebook.com/myatulum307" target="_blank">
                    <i class="fa-brands fa-facebook" style="color: #3b5998;"></i>
                </a>
                <a class="text-reset me-3" href="https://www.instagram.com/myatulum307/?hl=es" target="_blank">
                    <i class="fa-brands fa-instagram" style="color: #F56040;"></i>
                </a>
            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <div class="bannerLong">

    </div>
    <div class="longStaysProp" id="nosotros">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class=" mb-5 mb-lg-0 theGreat" style="z-index: 10">
                        <h1 class=" display-3 fw-bold ls-tight titleContact" style="color:  #aa5909 ">
                            <span>Special Package</span> <br> <span style="color: gray">for
                                Long Stays</span>
                        </h1>

                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Mya 307 is the residence for all kind of people. From couples and one time travelers, to
                        company owners, artists & digital nomads.</h3>
                    <hr>
                    <h5>
                        That's why we have an special <span style="color:#aa5909 ;"><u>10%</u></span> off for stayings
                        over 15 days.
                    </h5>

                </div>
            </div>
        </div>
    </div>
    <div data-draggable="true" style="position: relative;">
        <!---->
        <!---->
        <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
            <section class="mb-10 overflow-hidden">
                <!-- Background image -->
                <div class="px-4 py-5 px-md-5 text-center bg-image"
                    style="background-image: url(assets/images/amenitie2.jpg); height: 500px; background-size: cover; background-position: 50% 50%;"
                    aria-controls="#picker-editor">
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0.37)">
                        <div class="container h-100">
                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div class="col-lg-10">
                                    <div class="text-white pb-5">
                                        <h1 class="my-md-5 mb-4 px-5 display-3 fw-bold ls-tight">
                                            <span>Our Amenities</span>
                                        </h1> <a
                                            class="btn  btn-outline-light btn-lg btn-rounded py-3 px-5 mb-2 mb-md-0 me-md-2"
                                            href="#contactoSecond" role="button" aria-controls="#picker-editor">BOOK</a>
                                        <a class="btn  btn-link btn-lg btn-rounded py-3 px-5 mb-2 mb-md-0 text-white"
                                            style="background-color: transparent" href="/inicio" role="button"
                                            aria-controls="#picker-editor">See more...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=""
                    style=" height: 30px; margin-top: -30px; transform: scale(2); transform-origin: top center; color: #fff; ">
                    <svg viewBox="0 0 2880 48" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M 0 48 L 1437.5 48 L 2880 48 L 2880 0 L 2160 0 C 1453.324 60.118 726.013 4.51 720 0 L 0 0 L 0 48 Z"
                            fill="currentColor"></path>
                    </svg>
                </div> <!-- Background image -->
            </section>
        </section>
        <!---->
    </div>
    <div data-draggable="true" style="position: relative;" class="componentsDiv">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10 text-center">
                <style>
                    hr.divider-vertical {
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 1px;
                        background-image: linear-gradient(180deg, transparent, hsl(0, 0%, 40%), transparent);
                        background-color: transparent;
                        height: 100%;
                    }
                </style>
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 position-relative">
                        <i class="fa-solid fa-shield-halved fa-3x mb-4" aria-controls="#picker-editor"></i>
                        <h5 class="text-dark fw-bold mb-3">Security</h5>
                        <h6 class="fw-normal mb-0">To ensure your safety</h6>
                        <hr class="divider-vertical d-none d-md-block">
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 position-relative">
                        <i class="fa-solid fa-water-ladder fa-3x mb-4"></i>
                        <h5 class="text-dark fw-bold mb-3">Pool</h5>
                        <h6 class="fw-normal mb-0">In our exclusive terrace</h6>
                        <hr class="divider-vertical d-none d-lg-block">
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 position-relative">
                        <i class="fa-solid fa-dumbbell fa-3x mb-4"></i>
                        <h5 class="text-dark fw-bold mb-3">Gym</h5>
                        <h6 class="fw-normal mb-0">To keep in shape</h6>
                        <hr class="divider-vertical d-none d-md-block">
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 position-relative">
                        <i class="fa-solid fa-car fa-3x mb-4" aria-controls="#picker-editor"></i>
                        <h5 class="text-dark fw-bold mb-3">Parking</h5>
                        <h6 class="fw-normal mb-0">With no cost</h6>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div>
    <div id="contactoSecond">
        <div class="container" id="contactoLongStays">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h1 class=" display-3 fw-bold ls-tight titleContact text-center" style="color:  #aa5909 ">
                        <span>Book your dates.</span> <hr> 
                    </h1>
                    <h5 class=" fw-bold ls-tight titleContact text-center" style="color:  #aa5909 ">Our team will review your request and reach to you shortly</h5>
                    <br>
                    <form action="/ajax/emailSecond" method="POST" onsubmit="return submitEmailFormSecond(this);">
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <div class="form-outline"> <input type="text" id="form3Example1"
                                        class="form-control formInput" name="name" required>
                                    <label class="form-label" for="form3Example1" style="margin-left: 0px;">Name</label>
                                    <div class="form-notch">
                                        <div class="form-notch-leading" style="width: 9px;">
                                        </div>
                                        <div class="form-notch-middle" style="width: 68.8px;"></div>
                                        <div class="form-notch-trailing"></div>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- Email input -->
                        <div class="form-outline mb-4"> <input type="email" id="form3Example3"
                                class="form-control formInput" name="email" required>
                            <label class="form-label" for="form3Example3" style="margin-left: 0px;">Email
                                address</label>
                            <div class="form-notch">
                                <div class="form-notch-leading" style="width: 9px;"></div>
                                <div class="form-notch-middle" style="width: 88.8px;"></div>
                                <div class="form-notch-trailing"></div>
                            </div>
                        </div> <!-- Number input -->
                        <div class="form-outline mb-4">
                            <input type="number" id="form6Example6" class="form-control formInput" name="number"
                                required />
                            <label class="form-label" for="form6Example6">Phone</label>
                        </div>
                        <!-- Number input -->
                        <div class="form-outline mb-4">
                            <input type="number" id="form6Example6" class="form-control formInput" name="people"
                                required />
                            <label class="form-label" for="form6Example6">Number of people
                                coming with you?</label>
                        </div>
                        {{!-- Calendar --}}
                        <section>
                            <div class="form-group">
                                <!-- Date input -->
                                <label class="control-label" for="date">Preferred arrive
                                    date</label>
                                <input class="form-control formInput" id="date" placeholder="MM/DD/YYY" type="text"
                                    name="arriveDate" required />
                            </div>
                        </section>
                        <section>
                            <div class="form-group">
                                <!-- Date input -->
                                <label class="control-label" for="date">Preferred depart
                                    date</label>
                                <input class="form-control formInput" id="date" placeholder="MM/DD/YYY" type="text"
                                    name="departDate" required />
                            </div>
                        </section>
                        <!-- Checkbox -->
                        <div class="form-check d-flex justify-content-center mb-4"> <input class="form-check-input me-2"
                                type="checkbox" value="" id="form2Example33" checked="" required> <label
                                class="form-check-label" for="form2Example33">Accept
                                <span><a href="/privacy">privacy policy</a></span></label>
                        </div> <!-- Submit button -->
                        <button type="submit" class="btn  btn-primary btn-block mb-4"
                            aria-controls="#picker-editor">Send</button>


                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <iframe class="mapGoogle"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3744.474208466581!2d-87.46533698498055!3d20.19760632100634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4fd782faa91fed%3A0xd1733225fb133d8!2sMya%20Condominios!5e0!3m2!1sen!2smx!4v1659403926293!5m2!1sen!2smx"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
    </div>
    {{!-- FOOTER STARTS --}}
    <div class="footer bg-light">
        <div class="container textr-center">
            <div class="row">

                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <p><b>Mya 307</b> All rights reserved. Your information is protected by the privacy law. <span><a
                                href="/privacy" style="color: gray;">For more information see our privacy
                                policy</a></span></p>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>

</div>