<div class="privacidad">
    <div class="inicioDivT">

    </div> <br>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4"></div>
            <div class="col-md-4 pointer" onclick="location.href='/inicio';">
                || HOME ||
            </div>
            <div class="col-md-4"></div>
        </div>
    </div> <br> <br>
    <div class="container tablePrivacidad">

        <table class="table table-striped">
            <tbody>
                <tr>
                    <th scope="row">¿Quiénes somos?</th>
                    <td><span class="specialEliteFont">Mya 307</span> is responsible for the use and
                        protection of
                        your personal information.</td>
                </tr>
                <tr>
                    <th scope="row">For what purposes will we use your personal data?</th>
                    <td>The personal data that we collect from you, we will use for the validation of methods of
                        payments, customer contact or any derivative of the fact of
                        participate give us your information for interest in our services.</td>
                </tr>
                <tr>
                    <th scope="row">Where can I consult the privacy notice?</th>
                    <td>To learn more about the terms and conditions under which your data will be processed
                        and the way in which you can exercise your ARCO rights, you can consult the notice of
                        comprehensive privacy.</td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <p>
            <span class="specialEliteFont">Mya 307</span> is responsible for the use and
            protection of
            your personal information. In this regard, we inform you the following.

        </p>
        <p>
            The personal data collected for identification, contact, labor and property will be used for the
            validation of payment methods, customer contact or any derivative of the fact of leaving your data by
            interest in our services.
        </p>
        <p>
            You have the right of access to know the personal data that <span class="specialEliteFont">Mya
                307</span> has of you, the purpose
            for which they are used and the conditions of use given to them. Also, in protection of the right to
            rectification, it is your right to request the correction of your personal information in case it is
            outdated, inaccurate or incomplete; You have the right to cancel, so you can request that
            your information is removed from our records or databases when you consider that it is not
            being used in accordance with the principles, duties and obligations set forth in the regulations; just like
            him
            right to object to the use of your personal data for specific purposes. These rights are
            called ARCO rights.
        </p>
        <p>
            You have the right to revoke the consent you have given for the processing of your data
            personal. However, it is important to keep in mind that not all cases will be able to attend to your
            request or terminate the use immediately, since it is possible that by legal obligation we require to follow
            processing your personal data. Likewise, you should consider that, for certain purposes, the revocation of
            the
            consent will imply the suspension of the service you requested, or the conclusion of your relationship with
            <span class="specialEliteFont">Mya 307</span>.
        </p>
        <p>
            Likewise, you have the right to limit the use and disclosure of your information so that they are not
            treated
            for marketing, advertising or commercial prospecting purposes by <span class="specialEliteFont">Mya
                307</span>.
        </p>
        <p>
            To know the procedure and requirements for the exercise of any of the ARCO rights, revocation of the
            consent or limitation of use and disclosure of your data can be communicated through the mail
            email alecvipa@gmail.com, in which any questions that arise regarding the
            treatment
            of your information.
        </p>
        <p>
            We inform you that we use cookies, web beacons and other technologies through which it is possible
            monitor your behavior as an Internet user, in order to provide you with a better service and
            user experience when browsing our page, as well as sending you promotions, news about the
            call and reminders to participants. You can disable this feature
            from your website team settings.
        </p>
        <p>
            This privacy notice may undergo modifications, changes or updates derived from new
            Legal requirements; of our own needs for the products or services we offer; of
            our privacy practices; Changes in our business model, or other causes. The changes
            that may suffer this privacy notice will be made known through the same page of
            Internet.
        </p>
        <p>
            Last update December 16, 2021. </p>

    </div>
</div>