<div class="thankuDiv">
    <div class="inicioDivTa inicioDivT2">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a href="/inicio">
                        <img src="/assets/images/myaLogoInic.jpg" alt="logoInicio" class="logoInic"></a>
                </div>
                <div class="col-md-4"></div>
            </div> <br>
            <div class="row">
                <h2 class="fw-bold mb-5 text-center text-white">¡Thanks for booking!
                    <hr>We will be reaching you shortly to finish the details of your stay.
                </h2>
                
                <h1 class="text-center" style="color: rgb(252, 238, 160);">
                    Click the WhatsApp button for immediate assistance.</h1>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="fixed-action-btn" id="fixed1">
            <a class="btn btn-floating btn-primary btn-lg text-white" style="background-color: #25D366;"
                href="https://api.whatsapp.com/send?phone=525581809928&text=Hola, Me gustaría recibir información sobre Mya 307"
                target="_blank">
                <i class="fab fa-whatsapp fa-2xl"></i>
            </a>

            <ul class="list-unstyled">
                {{!-- <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #f44336;">
                        <i class="fas fa-star"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #fdd835;">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #4caf50;">
                        <i class="fas fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #2196f3;">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li> --}}
            </ul>
        </div>
    </div>
</div>