.fonts3 {
    font-family: 'Montserrat';

}

.footer {
    padding-top: 3%;
    padding-bottom: 3%;

}

.pointer {
    cursor: pointer;
}

.listEquipped {
    overflow: scroll;
}
.paymentDiv{
    background-color:rgb(35, 138, 150);
    padding: 2%;
}
.inicioDivT {
    /* padding-top: 5%;
    padding-bottom: 2%; */
    /* background-color: #2fabb8; */
    background-image: url("/assets/images/bannerMyaInicio.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3%;
    height: 40rem;

}
.inicioDivTSecond {

    background-image: url("/assets/images/hermosoEstudioBanner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3%;
    height: 40rem;

}
.inicioDivTa{
    background-color: #2fabb8;
     padding-top: 5%;
    padding-bottom: 2%;

}

.logoInic {
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
}

.logoContacto {
    width: 80%;
    margin-left: 0%;
    margin-right: auto;
}

.nosotrosT {
    margin-top: -3%;
}

.bannerConsultingJofer {
    background-image: url("/assets/images/bannerCosulting.jpg");
}

.longStaysProp {
    background-color: #f9f6f1;
    padding-top: 3%;
    padding-bottom: 3%;
}

#contactoSecond {
    background-color: #f9f6f1 !important;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.bannerSpace {
    height: 16rem;
    background-image: url("/assets/images/bannerSpace.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3%;
    margin-top: 5%;
}

.bannerLong {
    height: 36rem;
    background-image: url("/assets/images/longStayBanner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 30%;

}
.bannerLongEs{
    height: 36rem;
    background-image: url("/assets/images/longStayEs.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 30%;

}

/* .theBest{
    margin-top: 11% !important;
} */
#contacto {
    background-color: #1c69a5;
    margin-bottom: -10%;

}

.privacidadBanner {
    height: 36rem;
    background-image: url("/assets/images/bannerTerrazaInicio.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.tablePrivacidad {
    margin-bottom: 15%;
}

.divCatchUp {
    padding-top: 3%;
    margin-top: -3%;
}

.componentsDiv {
    margin-top: -5%;
}

.mapGoogle {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 5%;
}


@media (min-width: 992px) {
    .rounded-tr-lg-0 {
        border-top-right-radius: 0;
    }

    .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
    }

}

@media (min-width:451px) and (max-width:991px) {
    .inicioDivT, .inicioDivTSecond {
        height: 27rem;
    }

}

@media(max-width:450px) {
    .inicioDivT, .inicioDivTSecond {
        background-image: url("/assets/images/banRes.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 3%;
        height: 46rem;

    }
    .inicioDivTSecond {
        background-image: url("/assets/images/banEs.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 3%;
        height: 46rem;

    }
    .bannerLong {
        height: 36rem;
        background-image: url("/assets/images/longStory.jpg");
    
    }
    .bannerLongEs{
        height: 36rem;
        background-image: url("/assets/images/longStoryEs.jpg");

    }
    .theGreat{
        margin-top: 20%;
        text-align: center;
    }
    .longStaysProp {

        padding-bottom: 10%;
    }
    #contactoSecond {
        padding-top: 30% ;
    }
    
}



@media(max-width:991px) {
    .serviciosT {
        margin-top: -17%;
    }

    .componentsDiv {
        margin-top: -31%;
    }

    .divCatchUp {
        display: none;
    }

    .footer {
        padding-top: 10%;
        padding-left: 3%;
        padding-right: 3%;
    }

    #contacto {
       margin-bottom: -45%;
    }

    .responsiveMarginCard {
        margin-top: 5%;
    }

    .inicioDivT2 {
        height: 41rem !important;

    }

    

    #gym {
        margin-top: -36%;
    }

    .theBest {
        margin-top: 83% !important;
    }

    .contactForm {
        margin-top: -20% !important;
    }

    .logoContacto {
        margin-top: -107%;
    }

    .titleContact {
        margin-top: -15% !important;
        margin-bottom: 15%;
    }

}